.pedigree-view {
  position: fixed;
  top: 58px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: 0 0;
  transition: 0.5s ease;
  &__collapse {
    top: 0;
  }
  .btn-group-vertical {
    &:focus {
      border: 0;
      outline: none;
      box-shadow: none;
    }
  }
  &__tools {
    position: fixed;
    top: 85px;
    left: 20px;
    overflow: hidden;
    z-index: 1;
    border: 1px solid #d3d9df;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      width: 32px;
      height: 32px;
      font-size: 18px;
      padding: 0;
      border: 0;
      border-top: 1px solid transparent;
      &:not(:first-child) {
        border-color: #d3d9df;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  &__svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f5f5f7;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: 0 0;
    cursor: move;
  }
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
